app = "your-tempmail-web"
primary_region = "bom"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "3000"
  HOSTNAME = "0.0.0.0"
  NODE_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = "30s"
    timeout = "5s"
    method = "GET"
    path = "/api/health"
